$web-font-path: "";

@font-face {
    font-family: "Lato";
    src: local("Lato"), url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: local("Lato"), url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    src: local("Lato"), url(../fonts/Lato-Italic.ttf) format("truetype");
}

$primary: #0d6efd;

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.msg-visible {
    opacity: 1;
    transition: opacity 0.2s;
}

.msg-hidden {
    opacity: 0;
    transition: opacity 0.2s;
}

.card-body::-webkit-scrollbar {
    width: 0.5rem;
}

.card-body::-webkit-scrollbar-track {
    opacity: 0;
}

.card-body::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.1);
}

.card-body:hover::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
}
